<a href="https://colab.research.google.com/github/chefdarek/DS-Unit-2-Regression-2/blob/master/module1-log-linear-regression/Caterpillar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_log_error
from functools import reduce

In [3]:
!pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.9.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.2)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.4)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.0)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.13.2)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)

In [ ]:
bill_of_materials = pd.read_csv('bill_of_materials.csv')
comp_adaptor = pd.read_csv('comp_adaptor.csv')
comp_boss = pd.read_csv('comp_boss.csv')
comp_elbow = pd.read_csv('comp_elbow.csv')
comp_float = pd.read_csv('comp_float.csv')
comp_hf1 = pd.read_csv('comp_hfl.csv')
comp_nut = pd.read_csv('comp_nut.csv')
comp_other = pd.read_csv('comp_other.csv')
comp_sleeve = pd.read_csv('comp_sleeve.csv')
comp_straight = pd.read_csv('comp_straight.csv')
comp_tee = pd.read_csv('comp_tee.csv')
comp_threaded = pd.read_csv('comp_threaded.csv')
components = pd.read_csv('components.csv')
specs = pd.read_csv('specs.csv')
tube_end_form = pd.read_csv('tube_end_form.csv')
type_component = pd.read_csv('type_component.csv')
type_connection = pd.read_csv('type_connection.csv')
type_end_form = pd.read_csv('type_end_form.csv')
train = pd.read_csv('train_set.csv')
test = pd.read_csv('test_set.csv')
tube = pd.read_csv('tube.csv')

In [ ]:
all_df = [bill_of_materials, comp_adaptor, comp_boss,comp_elbow,
  comp_float,comp_hf1,comp_nut, comp_other, comp_sleeve,
  comp_straight, comp_tee, comp_threaded, components, 
  specs, tube_end_form, type_component, type_connection, type_end_form]

In [ ]:
comps = list(all_df[1:11])
df_merged = pd.concat(comps)
                                           
df_merged.info()

In [7]:
all_comps = components.merge(df_merged, on='component_type_id')
all_comps.describe(include="object")

       component_id_x    name  ...   type unique_feature
count           59066   59025  ...  15376          57451
unique           1854     272  ...      2              2
top            C-1233  FLANGE  ...   Boss             No
freq              124   13967  ...  12896          44404

[4 rows x 24 columns]

In [8]:
all_comps.component_type_id.unique()

array(['OTHER', 'CP-024', 'CP-026', 'CP-028', 'CP-018', 'CP-001',
       'CP-008', 'CP-009', 'CP-002', 'CP-010', 'CP-021', 'CP-011',
       'CP-027', 'CP-003', 'CP-004', 'CP-005', 'CP-019', 'CP-025',
       'CP-006', 'CP-020', 'CP-012', 'CP-022', 'CP-007', 'CP-023',
       'CP-029'], dtype=object)

### There is a way these fit in the puzzle I just haven't figured it out yet........I did however after a very long time concatting and merging they do not fit to bill_of_materials this way....

In [9]:
bill_of_materials.component_id_1.unique()

array(['C-1622', 'C-1312', 'C-1624', ..., 'C-0467', 'C-1694', 'C-1692'],
      dtype=object)

In [10]:
bill_of_materials.component_id_1.value_counts()

C-1621    2043
C-1622    1833
C-1624    1481
C-1623    1414
C-1312    1240
C-1625     950
C-1845     907
C-1620     676
C-1243     620
C-1420     469
C-0448     436
C-0444     219
C-0823     183
C-1229     155
C-1642     155
C-1638     154
C-1639     142
C-1848     138
C-1641     134
C-1626     134
C-1640     127
C-0101     120
C-1629     118
C-1631     117
C-1385      98
C-1637      81
C-1647      80
C-1649      80
C-1313      80
C-1369      78
          ...
C-0892       1
C-1246       1
C-1413       1
C-1210       1
C-0443       1
C-1137       1
C-0838       1
C-1714       1
C-0889       1
C-0845       1
C-0572       1
C-1266       1
C-1665       1
C-0482       1
C-1280       1
C-0811       1
C-1027       1
C-2014       1
C-0649       1
C-0343       1
C-0024       1
C-1501       1
C-0905       1
C-0282       1
C-0330       1
C-0922       1
C-0189       1
C-1389       1
C-1455       1
C-0112       1
Name: component_id_1, Length: 1079, dtype: int64

In [11]:

for _ in all_df:
  print(_.columns.tolist())
  print(_.info())
  print(_.isna().sum())
  print(_.dtypes)
  print(_.shape)
  print(_.describe())
  print(_.describe(include="object"))

['tube_assembly_id', 'component_id_1', 'quantity_1', 'component_id_2', 'quantity_2', 'component_id_3', 'quantity_3', 'component_id_4', 'quantity_4', 'component_id_5', 'quantity_5', 'component_id_6', 'quantity_6', 'component_id_7', 'quantity_7', 'component_id_8', 'quantity_8']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21198 entries, 0 to 21197
Data columns (total 17 columns):
tube_assembly_id    21198 non-null object
component_id_1      19149 non-null object
quantity_1          19149 non-null float64
component_id_2      14786 non-null object
quantity_2          14786 non-null float64
component_id_3      4791 non-null object
quantity_3          4798 non-null float64
component_id_4      607 non-null object
quantity_4          608 non-null float64
component_id_5      92 non-null object
quantity_5          92 non-null float64
component_id_6      26 non-null object
quantity_6          26 non-null float64
component_id_7      7 non-null object
quantity_7          7 non-null float64
component_id_8      1 non-null object
quantity_8          1 non-null float64
dtypes: float64(8), object(9)
memory usage: 2.7+ MB
None
tube_assembly_id        0
component_id_1       2049
quantity_1           2049
component_id_2       6412
quantity_2           6412
component_id_3      16407
quantity_3          16400
component_id_4      20591
quantity_4          20590
component_id_5      21106
quantity_5          21106
component_id_6      21172
quantity_6          21172
component_id_7      21191
quantity_7          21191
component_id_8      21197
quantity_8          21197
dtype: int64
tube_assembly_id     object
component_id_1       object
quantity_1          float64
component_id_2       object
quantity_2          float64
component_id_3       object
quantity_3          float64
component_id_4       object
quantity_4          float64
component_id_5       object
quantity_5          float64
component_id_6       object
quantity_6          float64
component_id_7       object
quantity_7          float64
component_id_8       object
quantity_8          float64
dtype: object
(21198, 17)
         quantity_1    quantity_2  ...  quantity_7  quantity_8
count  19149.000000  14786.000000  ...         7.0         1.0
mean       1.559873      1.526106  ...         1.0         1.0
std        0.507444      0.510851  ...         0.0         NaN
min        1.000000      1.000000  ...         1.0         1.0
25%        1.000000      1.000000  ...         1.0         1.0
50%        2.000000      2.000000  ...         1.0         1.0
75%        2.000000      2.000000  ...         1.0         1.0
max        6.000000      6.000000  ...         1.0         1.0

[8 rows x 8 columns]
       tube_assembly_id component_id_1  ... component_id_7 component_id_8
count             21198          19149  ...              7              1
unique            21198           1079  ...              4              1
top            TA-06925         C-1621  ...         C-1019         C-1981
freq                  1           2043  ...              3              1

[4 rows x 9 columns]
['component_id', 'component_type_id', 'adaptor_angle', 'overall_length', 'end_form_id_1', 'connection_type_id_1', 'length_1', 'thread_size_1', 'thread_pitch_1', 'nominal_size_1', 'end_form_id_2', 'connection_type_id_2', 'length_2', 'thread_size_2', 'thread_pitch_2', 'nominal_size_2', 'hex_size', 'unique_feature', 'orientation', 'weight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 20 columns):
component_id            25 non-null object
component_type_id       25 non-null object
adaptor_angle           1 non-null float64
overall_length          24 non-null float64
end_form_id_1           25 non-null object
connection_type_id_1    24 non-null object
length_1                1 non-null float64
thread_size_1           17 non-null float64
thread_pitch_1          17 non-null float64
nominal_size_1          8 non-null float64
end_form_id_2           25 non-null object
connection_type_id_2    24 non-null object
length_2                1 non-null float64
thread_size_2           23 non-null float64
thread_pitch_2          23 non-null float64
nominal_size_2          2 non-null float64
hex_size                17 non-null float64
unique_feature          25 non-null object
orientation             25 non-null object
weight                  23 non-null float64
dtypes: float64(12), object(8)
memory usage: 4.0+ KB
None
component_id             0
component_type_id        0
adaptor_angle           24
overall_length           1
end_form_id_1            0
connection_type_id_1     1
length_1                24
thread_size_1            8
thread_pitch_1           8
nominal_size_1          17
end_form_id_2            0
connection_type_id_2     1
length_2                24
thread_size_2            2
thread_pitch_2           2
nominal_size_2          23
hex_size                 8
unique_feature           0
orientation              0
weight                   2
dtype: int64
component_id             object
component_type_id        object
adaptor_angle           float64
overall_length          float64
end_form_id_1            object
connection_type_id_1     object
length_1                float64
thread_size_1           float64
thread_pitch_1          float64
nominal_size_1          float64
end_form_id_2            object
connection_type_id_2     object
length_2                float64
thread_size_2           float64
thread_pitch_2          float64
nominal_size_2          float64
hex_size                float64
unique_feature           object
orientation              object
weight                  float64
dtype: object
(25, 20)
       adaptor_angle  overall_length  ...   hex_size     weight
count            1.0       24.000000  ...  17.000000  23.000000
mean            90.0       29.539167  ...  23.033529   0.077957
std              NaN       12.496236  ...  10.362784   0.080719
min             90.0       13.200000  ...   9.400000   0.005000
25%             90.0       18.300000  ...  15.880000   0.012000
50%             90.0       29.200000  ...  22.200000   0.032000
75%             90.0       37.225000  ...  26.970000   0.115500
max             90.0       58.400000  ...  44.450000   0.256000

[8 rows x 12 columns]
       component_id component_type_id  ... unique_feature orientation
count            25                25  ...             25          25
unique           25                 2  ...              2           2
top          C-0361            CP-028  ...             No          No
freq              1                24  ...             24          24

[4 rows x 8 columns]
['component_id', 'component_type_id', 'type', 'connection_type_id', 'outside_shape', 'base_type', 'height_over_tube', 'bolt_pattern_long', 'bolt_pattern_wide', 'groove', 'base_diameter', 'shoulder_diameter', 'unique_feature', 'orientation', 'weight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 15 columns):
component_id          147 non-null object
component_type_id     147 non-null object
type                  124 non-null object
connection_type_id    147 non-null object
outside_shape         124 non-null object
base_type             124 non-null object
height_over_tube      147 non-null float64
bolt_pattern_long     23 non-null float64
bolt_pattern_wide     17 non-null float64
groove                147 non-null object
base_diameter         57 non-null float64
shoulder_diameter     30 non-null float64
unique_feature        147 non-null object
orientation           147 non-null object
weight                145 non-null float64
dtypes: float64(6), object(9)
memory usage: 17.3+ KB
None
component_id            0
component_type_id       0
type                   23
connection_type_id      0
outside_shape          23
base_type              23
height_over_tube        0
bolt_pattern_long     124
bolt_pattern_wide     130
groove                  0
base_diameter          90
shoulder_diameter     117
unique_feature          0
orientation             0
weight                  2
dtype: int64
component_id           object
component_type_id      object
type                   object
connection_type_id     object
outside_shape          object
base_type              object
height_over_tube      float64
bolt_pattern_long     float64
bolt_pattern_wide     float64
groove                 object
base_diameter         float64
shoulder_diameter     float64
unique_feature         object
orientation            object
weight                float64
dtype: object
(147, 15)
       height_over_tube  bolt_pattern_long  ...  shoulder_diameter      weight
count        147.000000          23.000000  ...          30.000000  145.000000
mean          88.239796          83.767826  ...          23.498000    0.389628
std          823.069326          17.506515  ...           8.466898    0.784177
min            4.760000          57.150000  ...          12.240000    0.003000
25%           15.575000          76.200000  ...          18.050000    0.050000
50%           18.800000          77.800000  ...          22.360000    0.082000
75%           24.000000          91.450000  ...          27.297500    0.217000
max         9999.000000         120.700000  ...          52.370000    4.034000

[8 rows x 6 columns]
       component_id component_type_id  type  ... groove unique_feature orientation
count           147               147   124  ...    147            147         147
unique          147                 3     2  ...      1              2           1
top          C-0755            CP-018  Boss  ...     No             No         Yes
freq              1               124   104  ...    147             88         147

[4 rows x 9 columns]
['component_id', 'component_type_id', 'bolt_pattern_long', 'bolt_pattern_wide', 'extension_length', 'overall_length', 'thickness', 'drop_length', 'elbow_angle', 'mj_class_code', 'mj_plug_class_code', 'plug_diameter', 'groove', 'unique_feature', 'orientation', 'weight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 16 columns):
component_id          178 non-null object
component_type_id     178 non-null object
bolt_pattern_long     171 non-null float64
bolt_pattern_wide     138 non-null float64
extension_length      170 non-null float64
overall_length        175 non-null float64
thickness             171 non-null float64
drop_length           171 non-null float64
elbow_angle           130 non-null float64
mj_class_code         41 non-null object
mj_plug_class_code    40 non-null object
plug_diameter         7 non-null float64
groove                178 non-null object
unique_feature        178 non-null object
orientation           178 non-null object
weight                176 non-null float64
dtypes: float64(9), object(7)
memory usage: 22.3+ KB
None
component_id            0
component_type_id       0
bolt_pattern_long       7
bolt_pattern_wide      40
extension_length        8
overall_length          3
thickness               7
drop_length             7
elbow_angle            48
mj_class_code         137
mj_plug_class_code    138
plug_diameter         171
groove                  0
unique_feature          0
orientation             0
weight                  2
dtype: int64
component_id           object
component_type_id      object
bolt_pattern_long     float64
bolt_pattern_wide     float64
extension_length      float64
overall_length        float64
thickness             float64
drop_length           float64
elbow_angle           float64
mj_class_code          object
mj_plug_class_code     object
plug_diameter         float64
groove                 object
unique_feature         object
orientation            object
weight                float64
dtype: object
(178, 16)
       bolt_pattern_long  bolt_pattern_wide  ...  plug_diameter      weight
count         171.000000         138.000000  ...       7.000000  176.000000
mean           63.624854          33.242826  ...      50.142857    1.759369
std            17.217936          12.497652  ...      19.445896    1.916640
min            36.070000          17.480000  ...      25.000000    0.064000
25%            52.370000          26.190000  ...      35.000000    0.663000
50%            58.700000          30.180000  ...      50.000000    1.196500
75%            69.900000          35.700000  ...      65.000000    1.884250
max           152.400000          92.080000  ...      76.000000   10.190000

[8 rows x 9 columns]
       component_id component_type_id  ... unique_feature orientation
count           178               178  ...            178         178
unique          178                 5  ...              2           2
top          C-0066            CP-008  ...             No         Yes
freq              1                70  ...            141         171

[4 rows x 7 columns]
['component_id', 'component_type_id', 'bolt_pattern_long', 'bolt_pattern_wide', 'thickness', 'orientation', 'weight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 7 columns):
component_id         16 non-null object
component_type_id    16 non-null object
bolt_pattern_long    16 non-null float64
bolt_pattern_wide    16 non-null float64
thickness            16 non-null float64
orientation          16 non-null object
weight               16 non-null float64
dtypes: float64(4), object(3)
memory usage: 976.0+ bytes
None
component_id         0
component_type_id    0
bolt_pattern_long    0
bolt_pattern_wide    0
thickness            0
orientation          0
weight               0
dtype: int64
component_id          object
component_type_id     object
bolt_pattern_long    float64
bolt_pattern_wide    float64
thickness            float64
orientation           object
weight               float64
dtype: object
(16, 7)
       bolt_pattern_long  bolt_pattern_wide  thickness     weight
count          16.000000          16.000000  16.000000  16.000000
mean           80.310000          43.288125  23.878125   1.147937
std            32.713751          23.786334   6.574115   1.095662
min            47.620000          17.000000  14.200000   0.230000
25%            57.140000          26.197500  19.500000   0.432500
50%            64.325000          30.190000  23.500000   0.557500
75%           108.785000          63.910000  28.000000   1.905750
max           148.000000          96.000000  36.500000   4.060000
       component_id component_type_id orientation
count            16                16          16
unique           16                 2           2
top          C-1149            CP-022          No
freq              1                10          10
['component_id', 'component_type_id', 'hose_diameter', 'corresponding_shell', 'coupling_class', 'material', 'plating', 'orientation', 'weight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 9 columns):
component_id           6 non-null object
component_type_id      6 non-null object
hose_diameter          6 non-null float64
corresponding_shell    6 non-null object
coupling_class         6 non-null object
material               6 non-null object
plating                6 non-null object
orientation            6 non-null object
weight                 6 non-null float64
dtypes: float64(2), object(7)
memory usage: 512.0+ bytes
None
component_id           0
component_type_id      0
hose_diameter          0
corresponding_shell    0
coupling_class         0
material               0
plating                0
orientation            0
weight                 0
dtype: int64
component_id            object
component_type_id       object
hose_diameter          float64
corresponding_shell     object
coupling_class          object
material                object
plating                 object
orientation             object
weight                 float64
dtype: object
(6, 9)
       hose_diameter    weight
count       6.000000  6.000000
mean       11.933333  0.055667
std         8.549542  0.073421
min         4.800000  0.001000
25%         4.800000  0.010000
50%        10.350000  0.031000
75%        15.900000  0.061750
max        25.400000  0.196000
       component_id component_type_id  ... plating orientation
count             6                 6  ...       6           6
unique            6                 1  ...       2           1
top          C-1041            CP-023  ...     Yes          No
freq              1                 6  ...       3           6

[4 rows x 7 columns]
['component_id', 'component_type_id', 'hex_nut_size', 'seat_angle', 'length', 'thread_size', 'thread_pitch', 'diameter', 'blind_hole', 'orientation', 'weight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 11 columns):
component_id         65 non-null object
component_type_id    65 non-null object
hex_nut_size         42 non-null float64
seat_angle           15 non-null float64
length               65 non-null float64
thread_size          65 non-null object
thread_pitch         65 non-null float64
diameter             23 non-null float64
blind_hole           23 non-null object
orientation          65 non-null object
weight               64 non-null float64
dtypes: float64(6), object(5)
memory usage: 5.7+ KB
None
component_id          0
component_type_id     0
hex_nut_size         23
seat_angle           50
length                0
thread_size           0
thread_pitch          0
diameter             42
blind_hole           42
orientation           0
weight                1
dtype: int64
component_id          object
component_type_id     object
hex_nut_size         float64
seat_angle           float64
length               float64
thread_size           object
thread_pitch         float64
diameter             float64
blind_hole            object
orientation           object
weight               float64
dtype: object
(65, 11)
       hex_nut_size  seat_angle     length  thread_pitch   diameter     weight
count     42.000000   15.000000  65.000000     65.000000  23.000000  64.000000
mean      29.810476   38.600000  26.451185     11.576923  19.800000   0.077094
std       11.528083    3.312315  12.410310      6.230426   6.680692   0.068569
min       14.290000   37.000000   1.000000      1.000000   0.625000   0.009000
25%       22.055000   37.000000  20.000000     12.000000  17.500000   0.027000
50%       25.400000   37.000000  24.900000     13.000000  20.000000   0.048000
75%       35.730000   37.000000  27.800000     16.000000  25.000000   0.109250
max       57.150000   45.000000  90.000000     20.000000  30.000000   0.343000
       component_id component_type_id thread_size blind_hole orientation
count            65                65          65         23          65
unique           65                 3          24          2           1
top          C-1200            CP-025         M10         No          No
freq              1                25          11         22          65
['component_id', 'part_name', 'weight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 3 columns):
component_id    1001 non-null object
part_name       1001 non-null object
weight          945 non-null float64
dtypes: float64(1), object(2)
memory usage: 23.5+ KB
None
component_id     0
part_name        0
weight          56
dtype: int64
component_id     object
part_name        object
weight          float64
dtype: object
(1001, 3)
           weight
count  945.000000
mean     0.840312
std      1.574673
min      0.001000
25%      0.073000
50%      0.250000
75%      0.829000
max     13.770000
       component_id part_name
count          1001      1001
unique         1001       214
top          C-1689    FLANGE
freq              1       158
['component_id', 'component_type_id', 'connection_type_id', 'length', 'intended_nut_thread', 'intended_nut_pitch', 'unique_feature', 'plating', 'orientation', 'weight']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49

In [12]:
bill_of_materials.head()

  tube_assembly_id component_id_1  ...  component_id_8 quantity_8
0         TA-00001         C-1622  ...             NaN        NaN
1         TA-00002         C-1312  ...             NaN        NaN
2         TA-00003         C-1312  ...             NaN        NaN
3         TA-00004         C-1312  ...             NaN        NaN
4         TA-00005         C-1624  ...             NaN        NaN

[5 rows x 17 columns]

In [13]:
train.head()

  tube_assembly_id supplier  quote_date  ...  bracket_pricing  quantity       cost
0         TA-00002   S-0066  2013-07-07  ...              Yes         1  21.905933
1         TA-00002   S-0066  2013-07-07  ...              Yes         2  12.341214
2         TA-00002   S-0066  2013-07-07  ...              Yes         5   6.601826
3         TA-00002   S-0066  2013-07-07  ...              Yes        10   4.687770
4         TA-00002   S-0066  2013-07-07  ...              Yes        25   3.541561

[5 rows x 8 columns]

In [14]:
bill_of_materials.head()

  tube_assembly_id component_id_1  ...  component_id_8 quantity_8
0         TA-00001         C-1622  ...             NaN        NaN
1         TA-00002         C-1312  ...             NaN        NaN
2         TA-00003         C-1312  ...             NaN        NaN
3         TA-00004         C-1312  ...             NaN        NaN
4         TA-00005         C-1624  ...             NaN        NaN

[5 rows x 17 columns]

In [15]:
train.head()

  tube_assembly_id supplier  quote_date  ...  bracket_pricing  quantity       cost
0         TA-00002   S-0066  2013-07-07  ...              Yes         1  21.905933
1         TA-00002   S-0066  2013-07-07  ...              Yes         2  12.341214
2         TA-00002   S-0066  2013-07-07  ...              Yes         5   6.601826
3         TA-00002   S-0066  2013-07-07  ...              Yes        10   4.687770
4         TA-00002   S-0066  2013-07-07  ...              Yes        25   3.541561

[5 rows x 8 columns]

In [16]:
test.head()

   id tube_assembly_id supplier  ... min_order_quantity  bracket_pricing  quantity
0   1         TA-00001   S-0066  ...                  0              Yes         1
1   2         TA-00001   S-0066  ...                  0              Yes         2
2   3         TA-00001   S-0066  ...                  0              Yes         5
3   4         TA-00001   S-0066  ...                  0              Yes        10
4   5         TA-00001   S-0066  ...                  0              Yes        25

[5 rows x 8 columns]

In [17]:
tube.head()

  tube_assembly_id material_id  diameter  ...  num_boss  num_bracket  other
0         TA-00001     SP-0035     12.70  ...         0            0      0
1         TA-00002     SP-0019      6.35  ...         0            0      0
2         TA-00003     SP-0019      6.35  ...         0            0      0
3         TA-00004     SP-0019      6.35  ...         0            0      0
4         TA-00005     SP-0029     19.05  ...         0            0      0

[5 rows x 16 columns]

In [19]:
train.merge(bill_of_materials, on='tube_assembly_id')

      tube_assembly_id supplier  ... component_id_8  quantity_8
0             TA-00002   S-0066  ...            NaN         NaN
1             TA-00002   S-0066  ...            NaN         NaN
2             TA-00002   S-0066  ...            NaN         NaN
3             TA-00002   S-0066  ...            NaN         NaN
4             TA-00002   S-0066  ...            NaN         NaN
5             TA-00002   S-0066  ...            NaN         NaN
6             TA-00002   S-0066  ...            NaN         NaN
7             TA-00002   S-0066  ...            NaN         NaN
8             TA-00004   S-0066  ...            NaN         NaN
9             TA-00004   S-0066  ...            NaN         NaN
10            TA-00004   S-0066  ...            NaN         NaN
11            TA-00004   S-0066  ...            NaN         NaN
12            TA-00004   S-0066  ...            NaN         NaN
13            TA-00004   S-0066  ...            NaN         NaN
14            TA-00004   S-0066  ...            NaN         NaN
15            TA-00004   S-0066  ...            NaN         NaN
16            TA-00005   S-0066  ...            NaN         NaN
17            TA-00005   S-0066  ...            NaN         NaN
18            TA-00005   S-0066  ...            NaN         NaN
19            TA-00005   S-0066  ...            NaN         NaN
20            TA-00005   S-0066  ...            NaN         NaN
21            TA-00005   S-0066  ...            NaN         NaN
22            TA-00005   S-0066  ...            NaN         NaN
23            TA-00005   S-0066  ...            NaN         NaN
24            TA-00012   S-0066  ...            NaN         NaN
25            TA-00012   S-0066  ...            NaN         NaN
26            TA-00012   S-0066  ...            NaN         NaN
27            TA-00012   S-0066  ...            NaN         NaN
28            TA-00012   S-0066  ...            NaN         NaN
29            TA-00012   S-0066  ...            NaN         NaN
...                ...      ...  ...            ...         ...
30183         TA-21164   S-0066  ...            NaN         NaN
30184         TA-21165   S-0066  ...            NaN         NaN
30185         TA-21166   S-0066  ...            NaN         NaN
30186         TA-21167   S-0066  ...            NaN         NaN
30187         TA-21171   S-0064  ...            NaN         NaN
30188         TA-21175   S-0064  ...            NaN         NaN
30189         TA-21176   S-0072  ...            NaN         NaN
30190         TA-21177   S-0072  ...            NaN         NaN
30191         TA-21179   S-0026  ...            NaN         NaN
30192         TA-21180   S-0062  ...            NaN         NaN
30193         TA-21183   S-0066  ...            NaN         NaN
30194         TA-21183   S-0066  ...            NaN         NaN
30195         TA-21183   S-0066  ...            NaN         NaN
30196         TA-21183   S-0066  ...            NaN         NaN
30197         TA-21183   S-0066  ...            NaN         NaN
30198         TA-21184   S-0064  ...            NaN         NaN
30199         TA-21185   S-0066  ...            NaN         NaN
30200         TA-21185   S-0066  ...            NaN         NaN
30201         TA-21186   S-0066  ...            NaN         NaN
30202         TA-21189   S-0066  ...            NaN         NaN
30203         TA-21189   S-0066  ...            NaN         NaN
30204         TA-21189   S-0066  ...            NaN         NaN
30205         TA-21189   S-0066  ...            NaN         NaN
30206         TA-21189   S-0066  ...            NaN         NaN
30207         TA-21189   S-0066  ...            NaN         NaN
30208         TA-21190   S-0041  ...            NaN         NaN
30209         TA-21191   S-0041  ...            NaN         NaN
30210         TA-21195   S-0041  ...            NaN         NaN
30211         TA-21196   S-0062  ...            NaN         NaN
30212         TA-21197   S-0026  ...            NaN         NaN

[30213 rows x 24 columns]

In [20]:
train.supplier.unique()

array(['S-0066', 'S-0026', 'S-0030', 'S-0013', 'S-0062', 'S-0014',
       'S-0072', 'S-0064', 'S-0041', 'S-0054', 'S-0087', 'S-0031',
       'S-0015', 'S-0081', 'S-0018', 'S-0005', 'S-0108', 'S-0058',
       'S-0109', 'S-0012', 'S-0096', 'S-0097', 'S-0070', 'S-0090',
       'S-0025', 'S-0074', 'S-0024', 'S-0080', 'S-0029', 'S-0008',
       'S-0023', 'S-0004', 'S-0043', 'S-0022', 'S-0027', 'S-0051',
       'S-0104', 'S-0092', 'S-0007', 'S-0011', 'S-0105', 'S-0111',
       'S-0061', 'S-0095', 'S-0059', 'S-0078', 'S-0068', 'S-0060',
       'S-0046', 'S-0056', 'S-0106', 'S-0042', 'S-0006', 'S-0003',
       'S-0009', 'S-0107', 'S-0050'], dtype=object)

In [ ]:
train['quote_date'] = pd.to_datetime(train['quote_date'], infer_datetime_format=True)
test['quote_date'] = pd.to_datetime(test['quote_date'], infer_datetime_format=True)

In [23]:
train['quote_date'].describe()

count                   30213
unique                   1781
top       2013-10-01 00:00:00
freq                     2877
first     1982-09-22 00:00:00
last      2017-01-01 00:00:00
Name: quote_date, dtype: object

In [24]:
train_tube_assemblies = train['tube_assembly_id'].unique()
test_tube_assemblies = test['tube_assembly_id'].unique()
len(train_tube_assemblies), len(test_tube_assemblies)

(8855, 8856)

In [ ]:
from sklearn.model_selection import train_test_split
traing_tube_assemblies, val_tube_assemblies = train_test_split(
    train_tube_assemblies, random_state=42)

In [26]:
len(train_tube_assemblies), len(val_tube_assemblies)

(8855, 2214)

In [34]:
X_train = train[train.tube_assembly_id.isin(train_tube_assemblies)]
X_val = train[train.tube_assembly_id.isin(val_tube_assemblies)]
train.shape, val.shape, train.shape

((30213, 8), (7585, 8), (30213, 8))

In [ ]:
def rmsle(y_true, y_pred):
    return np.sqrt(mean_squared_log_error(y_true, y_pred))

In [36]:
train.select_dtypes('object')

      tube_assembly_id supplier bracket_pricing
0             TA-00002   S-0066             Yes
1             TA-00002   S-0066             Yes
2             TA-00002   S-0066             Yes
3             TA-00002   S-0066             Yes
4             TA-00002   S-0066             Yes
5             TA-00002   S-0066             Yes
6             TA-00002   S-0066             Yes
7             TA-00002   S-0066             Yes
8             TA-00004   S-0066             Yes
9             TA-00004   S-0066             Yes
10            TA-00004   S-0066             Yes
11            TA-00004   S-0066             Yes
12            TA-00004   S-0066             Yes
13            TA-00004   S-0066             Yes
14            TA-00004   S-0066             Yes
15            TA-00004   S-0066             Yes
16            TA-00005   S-0066             Yes
17            TA-00005   S-0066             Yes
18            TA-00005   S-0066             Yes
19            TA-00005   S-0066             Yes
20            TA-00005   S-0066             Yes
21            TA-00005   S-0066             Yes
22            TA-00005   S-0066             Yes
23            TA-00005   S-0066             Yes
24            TA-00012   S-0066             Yes
25            TA-00012   S-0066             Yes
26            TA-00012   S-0066             Yes
27            TA-00012   S-0066             Yes
28            TA-00012   S-0066             Yes
29            TA-00012   S-0066             Yes
...                ...      ...             ...
30183         TA-21164   S-0066              No
30184         TA-21165   S-0066             Yes
30185         TA-21166   S-0066             Yes
30186         TA-21167   S-0066              No
30187         TA-21171   S-0064              No
30188         TA-21175   S-0064              No
30189         TA-21176   S-0072              No
30190         TA-21177   S-0072              No
30191         TA-21179   S-0026              No
30192         TA-21180   S-0062              No
30193         TA-21183   S-0066             Yes
30194         TA-21183   S-0066             Yes
30195         TA-21183   S-0066             Yes
30196         TA-21183   S-0066             Yes
30197         TA-21183   S-0066             Yes
30198         TA-21184   S-0064              No
30199         TA-21185   S-0066             Yes
30200         TA-21185   S-0066             Yes
30201         TA-21186   S-0066              No
30202         TA-21189   S-0066             Yes
30203         TA-21189   S-0066             Yes
30204         TA-21189   S-0066             Yes
30205         TA-21189   S-0066             Yes
30206         TA-21189   S-0066             Yes
30207         TA-21189   S-0066             Yes
30208         TA-21190   S-0041              No
30209         TA-21191   S-0041              No
30210         TA-21195   S-0041              No
30211         TA-21196   S-0062              No
30212         TA-21197   S-0026              No

[30213 rows x 3 columns]

In [37]:
train.bracket_pricing.replace({'Yes':1, "No":0})

0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       1
24       1
25       1
26       1
27       1
28       1
29       1
        ..
30183    0
30184    1
30185    1
30186    0
30187    0
30188    0
30189    0
30190    0
30191    0
30192    0
30193    1
30194    1
30195    1
30196    1
30197    1
30198    0
30199    1
30200    1
30201    0
30202    1
30203    1
30204    1
30205    1
30206    1
30207    1
30208    0
30209    0
30210    0
30211    0
30212    0
Name: bracket_pricing, Length: 30213, dtype: int64

In [38]:
target = 'cost'
y_train = train[target]
y_val = val[target]
y_pred = np.full_like(y_val, fill_value=y_train.mean())
print('Validation RMSLE, Mean Baseline:', rmsle(y_val, y_pred))

Validation RMSLE, Mean Baseline: 0.9412105708309508

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
import category_encoders as ce

In [48]:
categorical_features = ['tube_assembly_id','supplier'
    
]

numeric_features = X_train.select_dtypes('number').columns.tolist()
features = categorical_features + numeric_features

X_train = train[features]
X_val = val[features]
X_train.drop('cost', axis=1)

      tube_assembly_id supplier  annual_usage  min_order_quantity  quantity
0             TA-00002   S-0066             0                   0         1
1             TA-00002   S-0066             0                   0         2
2             TA-00002   S-0066             0                   0         5
3             TA-00002   S-0066             0                   0        10
4             TA-00002   S-0066             0                   0        25
5             TA-00002   S-0066             0                   0        50
6             TA-00002   S-0066             0                   0       100
7             TA-00002   S-0066             0                   0       250
8             TA-00004   S-0066             0                   0         1
9             TA-00004   S-0066             0                   0         2
10            TA-00004   S-0066             0                   0         5
11            TA-00004   S-0066             0                   0        10
12            TA-00004   S-0066             0                   0        25
13            TA-00004   S-0066             0                   0        50
14            TA-00004   S-0066             0                   0       100
15            TA-00004   S-0066             0                   0       250
16            TA-00005   S-0066             0                   0         1
17            TA-00005   S-0066             0                   0         2
18            TA-00005   S-0066             0                   0         5
19            TA-00005   S-0066             0                   0        10
20            TA-00005   S-0066             0                   0        25
21            TA-00005   S-0066             0                   0        50
22            TA-00005   S-0066             0                   0       100
23            TA-00005   S-0066             0                   0       250
24            TA-00012   S-0066             0                   0         1
25            TA-00012   S-0066             0                   0         2
26            TA-00012   S-0066             0                   0         5
27            TA-00012   S-0066             0                   0        10
28            TA-00012   S-0066             0                   0        25
29            TA-00012   S-0066             0                   0        50
...                ...      ...           ...                 ...       ...
30183         TA-21164   S-0066           753                   1         1
30184         TA-21165   S-0066           821                   1         1
30185         TA-21166   S-0066           752                   1         1
30186         TA-21167   S-0066          1010                   1         1
30187         TA-21171   S-0064           150                   1         1
30188         TA-21175   S-0064           118                  10         1
30189         TA-21176   S-0072             5                   1         1
30190         TA-21177   S-0072           350                  31         1
30191         TA-21179   S-0026             6                   1         1
30192         TA-21180   S-0062             3                   1         1
30193         TA-21183   S-0066            20                   0        15
30194         TA-21183   S-0066            20                   0        20
30195         TA-21183   S-0066            20                   0        30
30196         TA-21183   S-0066            20                   0        35
30197         TA-21183   S-0066            20                   0        45
30198         TA-21184   S-0064            55                   1         1
30199         TA-21185   S-0066             4                   4         1
30200         TA-21185   S-0066             4                   1         1
30201         TA-21186   S-0066            34                  10        10
30202         TA-21189   S-0066             1                   0         1
30203         TA-21189   S-0066             1                   0         2
30204         TA-21189   S-0066             1                   0         5
30205         TA-21189   S-0066             1                   0        10
30206         TA-21189   S-0066             1                   0        25
30207         TA-21189   S-0066             1                   0        50
30208         TA-21190   S-0041           869                  75        75
30209         TA-21191   S-0041           752                   1         1
30210         TA-21195   S-0041             1                  80        80
30211         TA-21196   S-0062           422                   1         1
30212         TA-21197   S-0026             3                   1         1

[30213 rows x 5 columns]

In [ ]:
# Make pipeline!
pipeline = make_pipeline(
    ce.OneHotEncoder(),
    SimpleImputer(), 
    RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)
    
)

# Fit on train, score on val, predict on test
pipeline.fit(X_train, y_train)
print('Validation Accuracy', pipeline.score(X_val, y_val))
y_pred = pipeline.predict(X_test)

RMSLE SCORE

In [47]:
y_pred = pipeline.predict(X_val)
print(f'Validation RMSLE, Random Forest with {features}')
print(rmsle(y_val, y_pred))

Validation RMSLE, Random Forest with ['tube_assembly_id', 'supplier', 'annual_usage', 'min_order_quantity', 'quantity', 'cost']
0.0007168810723283815

RMSE SCORE

In [ ]:

r2 = model.score(X_val, y_val)
print('Validation R^2', r2)

In [ ]:
%matplotlib inline
sns.distplot(y_train)

In [ ]:
sns.distplot(y_val);

In [ ]:
y_train_log = np.log1p(y_train)
y_val_log = np.log1p(y_val)
y_pred_log = np.log1p(y_pred)

sns.distplot(y_train_log);

In [ ]:
y_val_log = np.log1p(y_val)
y_pred_log = np.log1p(y_pred)
sns.distplot(y_val_log, label='True')
sns.distplot(y_pred_log, label='Predicted')
plt.legend();